colorlog==6.10.1
markdown-it-py==4.0.0
mdurl==0.1.2
mutagen==1.47.0
Pillow>=12.2.0
pyaml==26.2.1
pydub @ git+https://github.com/koldinger/pydub
Pygments==2.20.0
python-magic==0.4.27
PyYAML==6.0.3
regex==2026.4.4
requests==2.33.1
rich==15.0.0
termcolor==3.3.0
Unidecode==1.4.0
music_tag @ https://github.com/koldinger/music-tag/archive/refs/tags/1.0.0.zip
