colorlog==6.7.0
markdown-it-py==3.0.0
mdurl==0.1.2
mutagen==1.47.0
Pillow==10.1.0
pyaml==23.9.7
pydub==0.25.1
Pygments==2.16.1
python-magic==0.4.27
PyYAML==6.0.1
regex==2023.10.3
rich==13.6.0
termcolor==2.3.0
Unidecode==1.3.7
music_tag @ https://github.com/koldinger/music-tag/archive/refs/tags/1.0.0.zip
